<h2>Staff Pics</h2><br/>
<%if @picsRange.last > 0%>
<h4><strong><%= @minute.name %></strong> &nbsp; / &nbsp; <%= @minute.contributor_name%> &nbsp; / &nbsp; <%= @minute.location%></h4>

<div style="height:300px">
	<div style="float:left;width:340px;height:200px;">
		<%if @minute.minute.original_filename.include?('.flv')%>
			<a id="player" class="player" style="width:240px;height:180px;"></a>
			<script>play('<%=@minute.minute.url%>');</script>
		<%elsif @minute.minute_content_type.include?('image')%>	
			<%= image_tag("/minutes/#{@minute.id}/thumbnail/#{@minute.minute_file_name}")%>
		<%end%>
	</div>
	<div style="">
		<%= @minute.description+'<br/><br/>' if !@minute.description.blank?%>
		Submited on: <%= @minute.created_at.strftime("%m/%d/%Y %H:%M")  %><br/>
		Download: <%= link_to "#{@minute.minute.original_filename}", @minute.minute.url %>
	</div>
</div>

<div class="selector">
<strong><%=link_to(text="&lt;", :id => @prevPicIndx)%></strong> &nbsp;
<% for p in @picsRange %><%=(@currPicIndx==p ? "<b class=\"s\">#{p}</b>" : link_to("<b class=\"n#{p==@picsRange.last ? ' last' : ''} #{p==@picsRange.first ? 'first' : '' }\">#{p}</b>", :id => "#{p}") )%><%end%>
&nbsp; <strong><%=link_to(text="&gt;", :id => @nextPicIndx)%></strong>
</div>
<%end%>

