<style type='text/css'>
	.label { display: block; }
</style>
<% form_for @minute, :html => {:multipart => true} do |form| %>
	<%= form.error_messages %>
	<fieldset title='Minute Information'>
		
		<legend>Minute Information</legend>
		
		<p>Filetypes accepted include: <%= acceptable_filetypes %></p>
		
		<%= form.label :minute, 'Upload Your Minute', {:class => 'label'} %>
		<%= form.file_field :minute %><br/>
		
		<%= form.label :name, 'Name Your Minute', {:class => 'label'} %>
		<%= form.text_field :name %><br/>
		
		<%= form.label :location, nil, {:class => 'label' } %>
		<%= form.text_field :location %>
		
		<%= form.label :description, nil, {:class => 'label' } %>
		<%= form.text_area :description, :cols => 26, :rows => 3 %><br/>
		
		<%= form.label :tag_list, 'Tags (comma-separated)', {:class => 'label'} %>
		<%= form.text_field :tag_list %><br/>
				
	</fieldset>

	<fieldset  title='Contributor Information'>
	
		<legend>Contributor Information</legend>
		
		<%= form.label :contributor_name, nil, {:class => 'label'} %>
		<%= form.text_field :contributor_name %><br/>
	
		<%= form.label :contributor_email, nil, {:class => 'label'} %>
		<%= form.text_field :contributor_email %><br/>

		<p align='right'><%= submit_tag 'Contribute!' %></p>

	</fieldset>
		
<% end %>