<p>
	<%= link_to 'BACK', minutes_path %>
</p>

<h2><%= @minute.name %></h2>

<p>
	<strong>Contributor:</strong> 
	<%= @minute.contributor_email %>
</p>

<p>
	<strong>Description:</strong> 
	<%= @minute.description %>
</p>

<p>
	<strong>Tags:</strong> 
	<%= @minute.tag_list %>
</p>

<p>
	<strong>Created:</strong> 
	<%= @minute.created_at %>
</p>

<p>
	<%= link_to "View/Download #{@minute.minute.original_filename}", 
		@minute.minute.url %> (<%= @minute.minute_file_size / 1.kilobyte %>K)
</p>

<% form_for :minute, @minute, minute_path(@minute), 
	:html => {:method => :put, :name => 'minute_form', :id => 'minute_form'} do |form| %>
	<select name='minute[categories][]' id='categories' multiple='multiple'>
		<% Category.all.each do |c| %>
		<option value='<%= c.id %>' <%= "selected" if @minute.categories.include? c %>><%= c.name %></option>
		<% end -%>
	</select><br/>
	<%= submit_tag 'Set Categories' %>
	<input type="button" value="Clear" onclick="clearSelectMenu($('categories'), <%=Category.all.length%>); $('minute_form').submit()"/>
<% end -%>

