<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
	<title>12:19</title>
	<%= javascript_include_tag :defaults %>
	<%= stylesheet_link_tag 'blueprint/screen' %>
	<%= stylesheet_link_tag 'base' %>
	<script type="text/javascript" src="/flowplayer/flowplayer.js"></script> 
	<script type="text/javascript" src="/javascripts/quicktime.js"></script> 
	<script type="text/javascript" src="/javascripts/base.js"></script>
</head>
<body>
<div class="container" style="background-color:#fff;">
<%= render :partial => "layouts/header"%>
<div class="container">
	<div style="float:left;width:792px;">
		<div class="contentLeft">
			<%= @content_for_layout %>
		</div>
	</div>
</div>
<%= render :partial => "layouts/footer"%>
</body>
</html>